button[class="btn   btn-circle btn-sm"] {
    width: 80px;
    height: 80px;
    padding: 6px 0px;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    background-color:rgb(51, 51, 51);
    color:rgb(233,233,233)
}
button[class="btn   btn-circle btn-sm"]:hover {background-color: #3e8e41}
input[id="input"]{
    
    width: 340px;
    height: 120px;
    border: 0px;
    text-align: right;
    background-color:black;
    color:white;
     
}
button[class="btn   btn-circle btn-sm"][name="ilk"] {
    
  
    margin-top: 10px;
    background-color:rgb(166, 166, 166)
}
button[class="btn   btn-circle btn-sm"][name="son"] {
    
    margin-top: 10px;
    background-color:rgb(251, 151, 4)
}




